body {
   font-family: Arial, sans-serif;
   padding: 20px;
   
   background-color: #2E2E2E; /* â† soft background */
   color: #F5F5F5; /* Light text */
 }
.game-window {
   display: flex;
   flex-direction: row;
   gap: 30px;
}
.hand {
   display: flex;
   gap: 10px;
   flex-direction: column;
   flex-wrap: wrap;
   margin-top: 20px;
   justify-content: center; /* main axis */
   align-items: center;     /* cross axis */
 }
 
.card-container {
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
 }
 .hand-owner {
   font-size: 24px;
   align-items: center;
   display: flex;
   flex-direction: row;
 }

 .card {
   position: relative;
   width: 70px;
   height: 120px;
   border-radius: 12px;
   border: 2px solid #444;
   background-color: #222;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 8px;
   padding: 10px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   cursor: pointer;
   color: #222;
   font-size: 24px;
 }



 .empty-cardpile {
   border: 2px dashed #666;
   background-color: #2E2E2E;
   color: #F5F5F5;

 }
 
 .card:hover {
   transform: scale(1.05);
   box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
 }
 
 .card .card-value {
   font-size: 36px;
   z-index: 1;
   padding: 10px;
 }
 
 /* Default buttons hidden */
 .card button {
   opacity: 0;
   pointer-events: none;
   font-size: 14px;
   padding: 4px 8px;
   border: none;
   border-radius: 6px;
   background-color: #333;
   color: white;
   cursor: pointer;
   transition: background-color 0.2s ease, opacity 0.2s ease;
 }
 
 /* Show buttons on hover */
 .card:hover button {
   opacity: 1;
   pointer-events: auto;
 }
 
 .card button:hover {
   background-color: #555;
 }

 .card:has(.color-clue-btn:hover){
  pointer-events: auto;
  /*background-color: #FFFFFF !important;
  border-color: #FF0000;*/
}



 .board-container{
   display: flex;
   gap: 50px;
   flex-direction: column;
   justify-content: center;
   align-items: center;     /* cross axis */
 }

 .clue-life-container{
   display: flex;
   gap: 50px;
   flex-direction: row;
 }
 .clue-life-tracker{
   font-size: 24px;
   align-items: center;
   display: flex;
   flex-direction: column;
} 

 .board-cards-container{
   display: flex;
   gap: 10px;
   flex-direction: row;
 }

 .discard-pile{
   display: flex;
   flex-direction: column;
   align-items: center;

 }

 .discard-pile-title{
   display: flex;
   font-size: 24px;
   text-align: center;
   margin-top: 10px;
 }

.discard-matrix {
  display: flex;
   flex-direction: row;
   padding-top: 10px;
   gap: 20px;
   align-items: center;
}

 .discard-element {
  position: relative;
  flex-direction: top-right;
  width: 100px;
  height: 160px;
}

.discard-element > * {
  position: absolute;
  top: 0;
  left: 0;
}