<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src = "{{url_for('static',filename='script.js')}}" defer></script>
    <title>Flask-SocketIO Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
</head>
<body>
    <script src = "{{url_for('static',filename='server_connect.js')}}"></script>
    

    <button onclick="start()">Start</button>
    <button onclick="get_game_state()">Get game state</button>
    <div id=game-window></div>
</body>

</html>